
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color:white;
}
.left{
    width:25vw;
    padding: 10px;
}
.right{
    width:75vw;
     position: relative;
}

.home ul li{
    display: flex;
    width:14px;
    list-style: none;
    gap: 14px;
    font-weight: bold;
    padding-top: 14px;

}
.invert{
    filter:invert(1);
}

.home{
    padding: 22px;
}

.heading{
    display: flex;
    width: 91%;
    gap: 14px;
    font-weight: bold;
    padding-top: 14px;
    padding: 11px 11px;
    align-items: center;
    font-size: 14px;
}
.heading img{
    width:18px;
}
.library{
    min-height: 66vh;
    position: relative;
}
.footer{
    display:flex;
    font-size:10px;
    color:grey;
    gap:11px;
    position: absolute;
    bottom:0;
    padding: 10px;
}
.footer a{
     color:grey;
}
.header{
    display: flex;
    justify-content:space-between;
    background-color: #343434;
}
.header >*{
    padding: 3px;
    margin: 2px;
}
.right{
    margin-top: 15px;
}
.spotifyPlaylist{
    padding: 16px;
}
.spotifyPlaylist h1{
    padding: 16px;
}
.cardContainer{
    margin-top: 10px;
    display: flex;
    gap: 17px;
    flex-wrap: wrap;
    max-height: 80vh;
    overflow-y: auto;
}
 .card{
    width: 124px;
    padding: 14px;
    border-radius: 7px;
    background-color: #343434;
    position: relative;
}
.card p{
    font-size: 12px;
} 
.card >*{
    padding-top:3px ;
}
.card img{
    width:100%;
    object-fit: contain;
    border-radius: 7px;
}
.play{
    position: absolute;
    top: 116px;
    right: 15px;
    opacity: 0;
    transition:all 1s ease-out ;
}
.buttons >*{
    margin: 0 4px;
}
.signupbtn{
   background-color:rgb(34 34 34) ;
   color: rgb(133, 133, 133);
   font-weight: bold;
   padding: 5px;
   border:none;
   outline:none;
   cursor: pointer;
   border-radius: 2px;
}
.signupbtn:hover{
    font-size:0.8rem;
    color: rgb(191, 189, 189);
}
.loginbtn{
   background-color:white;
   color: rgb(133, 133, 133);
   font-weight: bold;
   padding: 4.5px;
   border:none;
   outline:none;
   cursor: pointer;
   border-radius: 2px;
   width: 52px;
}
.loginbtn:hover{
    font-size:0.8rem;
    color: rgb(191, 189, 189);
    
}

.playbar{
    position: fixed;
    bottom: 12px;
    background-color: rgba(255, 255, 255, 0.864);
    width:71%;
    padding: 12px;
    right: 4px;
    border-radius: 7px;
    filter: invert(1);
    background: #dad5d5;
    min-height: 26px;
}
.songbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.songlist{
    height: 342px;
    overflow-y:auto;
    margin: 12px 0;
}
.songlist ul{
    padding: 0 9px;
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap:10px;
    cursor: pointer;
    padding:12px 0;
    border: 1px solid white;
    border-radius: 4px;
    margin: 5px 0 ;
    padding: 12px;
    justify-content: space-between;
}

.songlist .info{
    font-size: 13px;
    width: 344px;
}
.info div{
    word-break: break-all;
}
.playnow{
    display: flex;
   justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 15px;
    width: 64px;
    padding: 0 9px;
}
.seekbar{
    height: 2px;
    width: 99%;
   background: black;
    border-radius: 4px;
    right: 4px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.humburger{
    display:none ;
}
.circle{
    height: 11px;
    width:11px;
    border-radius: 20px;
    background-color: black;
    position: relative;
    bottom: 4px;
    transition: left 0.5s;
}

.songbtn img{
    cursor: pointer;
}

.songinfo,.songtime{
    color:black;
    padding: 0 12px;
}
.abovebar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
.left .close{
    display: none;
}
.timevolume{
    display: flex;
    justify-content: center;
    align-items: center;
}
.range{
    width: auto;
    height: 2px;
}
#rangeinfo{
    height: 7px;
}
.volume{
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 5px;
}
.songtime{
        font-size: small;
    }

@media (max-width:1180px) {
    .left{
        position: absolute;
        left:-120%;
        transition:all .1s ease ;
        z-index: 3;
        width:350px;
        background-color: black;
    }
    
    .left .close{
        display: block;
        position: absolute;
        right: 28px;
        top: 20px;
    }

    .right{
        width:100vw;
    }
    .playbar{
        width: calc(100vw - 50px);
        width: 87vw;
        right: auto;
        border-radius: 7px;
    }
    #rangeinfo{
    width:71px;
    }
    .timevolume{
        flex-direction: column;
        gap:5px;
        justify-content: space-around;
    }
    
    .seekbar{
        width: 98%;
    }
    .humburger{
        display: block;
    }
    .humburgericon{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
    .songtime ,.songtime{
        width: auto;
    }
}

